
<h1>Inscription terminée :)</h1>

<p>Merci d'avoir vérifier votre email et merci de rejoindre notre réseau.</p>
<p>
    Vous pourrez désormais bénéficier de nos services, apercevoir la liste des boutiques
    qui ont déjà été évaluées, ainsi que les notes qui leur ont été attribué.
</p>
<p>
    Pour toute question concernant nos méthodes de notations, veuillez nous contacter
    à l'adresse mail suivante: emilie.robet05atgmail.com
</p>